{
  "arrowParens": "always",
  "trailingComma": "es5",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "tabWidth": 2,
  "printWidth": 90
}