.expand {
  height: auto;
  display: flex;
  flex-direction: column;
}

.chunk {
  transition: height 0.25s;
  width: 100%;
}

.fixed {
  height: 100%;
  transition: height 0s;
}

.button {
  padding: 8px 32px;
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
}

.button:hover {
  background-color: #f2f2f2;
}
