.selectIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  padding: 12px;
  background: #000;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 0;
}

.size-l {
  width: 86px;
  height: 86px;
}

.size-xs {
  width: 48px;
  height: 48px;
}
