.status {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  color: #c0c0c0;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  margin: 8px;
  cursor: pointer;
  border: 1px solid #c0c0c0;
}

.text {
  margin-bottom: 3px;
}

.circle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  background: #f2f2f2;
  border-radius: 50%;
  transform: scale(1);
  animation: pulse 2s infinite;
  right: 16px;
}

.available.status {
  color: #317cf4;
  border: 1px solid #317cf4;
}

.available.status .circle {
  background: #317cf4;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
