.tab {
  position: relative;
  cursor: pointer;
  padding: 8px 0;
  border-bottom: 2px solid #f8f8f8;
  transition: border 0.15s;
}

.text {
  padding: 16px;
  font-size: 16px;
}

.active,
.tab:hover {
  border-bottom: 2px solid #0062ff;
}
