.expand {
  height: auto;
  display: flex;
  flex-direction: column;
}

.chunk {
  transition: height 0.25s;
  width: 100%;
}

.fixed {
  height: 100%;
  transition: height 0s;
}

.button {
  padding: 8px 32px;
  cursor: pointer;
  background-color: #f8f8f8;
  border-radius: 12px;
}

.button:hover {
  background-color: #f2f2f2;
}
