.label {
  cursor: pointer;
}

.switch {
  position: absolute;
  transform: scale(0);
}

.switch:checked ~ .toggle {
  background: #317cf4;
}

.switch:checked ~ .toggle .circle {
  transform: translateX(36px);
}

.toggle {
  box-sizing: border-box;
  display: block;
  width: 76px;
  padding: 4px;
  background: #d8d8d8;
  transition: transform 0.15s;
  border-radius: 20px;
}

.circle {
  display: block;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  background: #f2f2f2;
  transition: transform 0.15s;
  border-radius: 50%;
}

.circle-size-s {
  height: 24px;
  width: 24px;
}

.toggle-size-s {
  width: 56px;
  padding: 4px;
}

.switch-size-s:checked ~ .toggle .circle {
  transform: translateX(24px);
}
