.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #c4c4c4;
  padding: 48px;
  border-radius: 16px;
  background-color: #fff;
}

.card + .card {
  margin-top: 64px;
}

.title {
  font-size: 36px;
  font-weight: 400;
}
